@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #eae7dc;
}

.navbar {
  background-color: none !important;
  position: fixed;
}

.navbar-brand {
  font-size: 1.9rem !important;
  color: #05386b !important;
}

.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}

/* special css styling for active component */
.active {
  font-weight: bold;
  border-bottom: 1px solid #ac3b61;
}

/* hover effect for anchor tag in navbar */
.navbar a:hover {
  color: #05386b !important;
}

/*  */
@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }

  .active {
    font-weight: bold;
    border-bottom: none;
  }
}

/* Main page loading section */
#header {
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}

#header .brand-name {
  color: #ac3b61;
}

#header h2 {
  color: #116466;
  font-size: 24px;
}

#header .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #05386b;
  border: 2px solid #116466;
  text-transform: none;
  text-decoration: none;
}

#header .btn-get-started:hover {
  background: #ac3b61;
  color: #fff;
}

.header-img {
  text-align: right;
}

/* img animation */
#header .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

/* button styling for card component */
.card-body .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #05386b;
  border: 2px solid #116466;
  text-transform: none;
  text-decoration: none;
}

.card-body .btn-get-started:hover {
  background: #ac3b61;
  color: #fff;
}

/* button styling for contact component */
.col-8 .btn-get-started {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #05386b;
  border: 2px solid #116466;
  text-transform: none;
  text-decoration: none;
}

.col-8 .btn-get-started:hover {
  background: #ac3b61;
  color: #fff;
}

.col-8 .form-group { 
  border-color: #05386b;
}