@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.navbar {
  background-color: #fff !important;
}

.navbar-brand {
  font-size: 1.9rem !important;
  color: rgba(6, 139, 39, 0.836) !important;
}


.navbar-a {
  font-size: 1.3rem;
  text-transform: capitalize;
}

/* special css styling for active component */
.active {
  font-weight: bold;
  border-bottom: 1px solid rgba(6, 139, 39, 0.836);
}

/* hover effect for anchor tag in navbar */
.navbar a:hover {
  color:rgba(31, 197, 73, 0.836) !important;
}

/*  */
@media (max-width: 991px) {
  .navbar-brand {
    font-size: 1.5rem !important;
  }

  .active {
    font-weight: bold;
    border-bottom: none;
  }
}
